extends layout

block content
  //h1= title

  // Wrapper
  #wrapper

    // USER LIST
    div(style="float: left;")
      h2 Recent Readings
      #userList
        table
          thead
            th Voltage
            th Current
            th Power
            th Time
          tbody
    // /USER LIST

    div(style="float: left;")
      #chart

  // /WRAPPER
